PORT=3001
FRONTEND_URL=http://localhost:5173

# Para que funcione OAuth2 de Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
CALLBACK_URL=http://localhost:3001/api/auth/google/callback

# Para el uso de JWT
JWT_SECRET=

# Email para recuperación de contraseña
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=

# Base de datos
DATABASE_URL="postgresql://user:password@url:puerto/db_name?schema=public"