# Gateway general, solo si el equipo usa un backend unificado.
VITE_API_BASE=http://localhost:4000

# Microservicios del sistema
VITE_API_AUTH_URL=http://localhost:3001
VITE_API_PORTAL_WEB_URL=http://localhost:3002
VITE_API_TORNEOS_URL=http://localhost:3003
VITE_API_DEPORTISTAS_URL=http://localhost:3004
VITE_API_FINANZAS_URL=http://localhost:3005
VITE_API_INFRAESTRUCTURA_URL=http://localhost:3006