# Configuración del servidor
PORT=3004

# Para la conexión a la base de datos
DB_USER=
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=

# Variable obligatoria para que el CLI de Prisma pueda generar los tipados
DATABASE_URL="postgresql://user:password@host:port/db_name?schema=public"

# Ruta a la llave pública
PUBLIC_KEY_PATH=./public.pem

# Conexión a Redis
REDIS_URL="redis://localhost:6379"