# Configuración del servidor
PORT=3002

# Para la conexión a la base de datos
DB_USER=postgres
DB_HOST=localhost
DB_NAME=nombre
DB_PASSWORD=password
DB_PORT=5432

# Configuración de Redis
REDIS_HOST=localhost
REDIS_PORT=6379